body {
    color: #999;
 background: url("http://acshub.co.uk/hubassets/uploads/2016/09/acs-website-background-building-e1472862899804.jpg");
    font-family: 'Roboto', sans-serif;
    /*height: 700px;*/
}
.form-control, .form-control:focus, .input-group-addon {
    border-color: #e1e1e1;
    border-radius: 0;
    font-size: small;

}
.signup-form {
    width: 390px;
    margin: 0 auto;
    padding: 25px 0;
    color: white;
    background: transparent;
}
.signup-form h1 {
    color:white;
    margin: 0 0 15px;
    text-align: center;
}

.signup-form form {		
    border-radius: 1px;
    margin-bottom: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    color: white;
    background: transparent;
}
.signup-form .form-group {
    margin-bottom: 20px;
}
.signup-form label {
    font-weight: normal;
    font-size: 13px;
}
.signup-form .form-control {
    min-height: 38px;
    box-shadow: none !important;
    border-width: 0 0 1px 0;
    color: white;
       text-decoration-color: white;
    background: transparent;
}	
.signup-form .input-group-addon {
    max-width: 50px;
    text-align: center;
    color: white;
    background: none;
    border-width: 0 0 1px 0;
    padding-left: 5px;
}
.signup-form .btn {        
    font-size: 16px;
    font-weight: bold;
    background:floralwhite;
    border-radius: 3px;
    border: none;
    color: black;
    min-width: 140px;
    outline: none !important;
}
.signup-form .btn:hover, .signup-form .btn:focus {
    background: #179b81;
}
.signup-form a {
    color: #19aa8d;
    text-decoration: none;

}	
.signup-form a:hover {
    text-decoration: underline;
}
.signup-form .fa {
    font-size:initial;
}
.signup-form .fa-paper-plane {
    font-size: 17px;
}
.signup-form .fa-check {
    color: #fff;
    left: 9px;
    top: 18px;
    font-size: 7px;
    position: absolute;
}
::placeholder{
    color: white;
}
.btn:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
     }