<div class="padding">
  <div class="container">
      <div class="respond text-center">
          <h1>Sign Up</h1>
          <form #signupForm = "ngForm" (ngSubmit) = "signup(signupForm.value)" class="comment-form">
              <div class="row mt20" *ngIf = "errorList?.length > 0">
                <div class="col-md-4 col-md-offset-4">
                  <ul>
                    <li *ngFor = "let errorMessage of errorList" class="errormessage">{{errorMessage}}</li>
                  </ul>
                </div>

              </div>
              <div class="row mt20">
                  <div class="col-md-12 col-md-offset-4">
                      <span class="comment-form-control-wrap email">
                          <label for="name">Name</label>
                          <em *ngIf = "signupForm.controls.username?.invalid && (signupForm.controls.name?.touched || showValidationMessages)">Required</em>
                          <input (ngModel) = "name" type="name" name="name" id="name" class="comment-form-control" required>
                      </span>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 col-md-offset-4">
                      <span class="comment-form-control-wrap email">
                          <label for="username">Username</label>
                          <em *ngIf = "signupForm.controls.username?.invalid && (signupForm.controls.username?.touched || showValidationMessages)">Required</em>
                          <input (ngModel) = "username" type="username" name="username" id="username" class="comment-form-control" required>
                      </span>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 col-md-offset-4">
                      <span class="comment-form-control-wrap email">
                          <label for="image">Profile Image</label>
                          <em *ngIf = "signupForm.controls.username?.invalid && (signupForm.controls.username?.touched || showValidationMessages)">Required</em>
                          <input (ngModel) = "image" type="file" name="image" id="image" class="comment-form-control" required>
                      </span>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 col-md-offset-4">
                      <span class="comment-form-control-wrap">
                          <label for="email">Email</label>
                          <em *ngIf = "signupForm.controls.email?.invalid && (signupForm.controls.email?.touched || showValidationMessages)">Required</em>
                          <input (ngModel) = "email" type="email" name="email" id="email" class="comment-form-control" required>
                      </span>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 col-md-offset-4">
                      <span class="comment-form-control-wrap">
                          <label for="email">Phone Number</label>
                          <em *ngIf = "signupForm.controls.email?.invalid && (signupForm.controls.email?.touched || showValidationMessages)">Required</em>
                          <input (ngModel) = "phoneNumber" type="phoneNumber" name="phoneNumber" id="phoneNumber" class="comment-form-control" required>
                      </span>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 col-md-offset-4">
                      <span class="comment-form-control-wrap">
                          <label for="password">Password</label>
                          <em *ngIf = "signupForm.controls.password?.invalid && (signupForm.controls.password?.touched || showValidationMessages)">Required</em>
                          <input (ngModel) = "password" type="password" name="password" id="password" class="comment-form-control" required>
                      </span>
                  </div>
              </div>
              <div class="row mt20">
                  <div class="col-md-12">
                      <span class="comment-form-control-wrap submit" (mouseenter) = "showValidationMessages = true" (mouseleave) = "showValidationMessages = false">
                          <input type="submit" name="submit" id="submit" class="comment-form-control" value="Sign Up" [disabled] = "signupForm.invalid">
                      </span>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>
