<app-dashboard></app-dashboard>
<div class="row">
<div class="col-md-4 offset-3">
<button id="myBtn">Compose new tweet</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <h3>Compose New tweet <span class="float-right" id="close">&times;</span></h3>
    
    
    <textarea type="text" rows="5" cols="25" id="tweet" name="tweet"></textarea>
    <br>
    <div class="col-md-4 offset-4">
    <button class="btn btn-primary btn-sm" type="submit">Done</button>
  </div>
  
  </div>
</div>
</div>
</div>