<div *ngIf="!loggedIn">
    You should be logged in to view this page.....
    <a routerLink="/login" routerLinkActive="active-link">Login</a>
</div>

<div *ngIf="loggedIn">

    <body>
        <div class="topnav">
            <a routerLink="/Play-Ground" routerLinkActive="active-link">PlayGround</a>&nbsp;&nbsp;
            <a routerLink="/Followers" routerLinkActive="active-link">Followers ({{followers}})</a>&nbsp;&nbsp;
            <a routerLink="/Following" routerLinkActive="active-link">Following ({{following}})</a>&nbsp;&nbsp;
            <a routerLink="/Search" routerLinkActive="active-link">Search</a>&nbsp;&nbsp;
            <a routerLink="/analytics" routerLinkActive="active-link">Analytics</a>&nbsp;&nbsp;
        </div>
    </body>